{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}
{% block content %}

<style>
    body, h2, p, li {
        color: black;
    }

    form {
        background: white;
        padding: 40px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        width: 300px;
        margin: auto;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .buttonaddsml {
        width: 100%;
        padding: 10px;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

</style>

<h2>Sign up</h2>
    <form method="post">
        <div>
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <button class="buttonaddsml" type="submit">Sign Up</button>
    </form>
{% endblock %}
