<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>

      h2 {
      color: black; /* Set text color to black */
      font-size: 20pt;
      font-weight: 800;
    }

     h1 {
      color: black; /* Set text color to black */
      font-size: 30pt;
      font-weight: 900;
    }

     p {
      color: black; /* Set text color to black */
      font-size: 20pt;
      font-weight: 700;
      text-decoration: underline;
    }

</style>

    <body>
    <script src="{% static 'base/matchmaking.js' %}"></script>
    {% if user.is_authenticated %}
        <div class="home">
        <h2 class="top-menu">Hello {{ user.username }},</h2>
        <h1>Your current Elo rating is: {{ user_eloinfo.elo }}</h1>
        <h1>Your current rank is {{ user_eloinfo.rank_tier }}</h1>
        <h1>Click below to find a match:</h1>
            <div class="queueandsearch">
                <p id="searching"></p>
                <button id="queue-btn">Enter queue</button>
        </div>
            </div>
        <p id="match-status"></p>
        <div id="acceptdeny">
            <button id="accept-btn" disabled>Accept</button>
            <button id="deny-btn" disabled>Deny</button>
        </div>
    {% else %}
        <div class="home">
        <h2 class="top-menu">Please log in to continue to this page.</h2>
        </div>
    {% endif %}
    </body>
{% endblock %}
</html>
